/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    font-family: 'Lato', sans-serif;
}

.burger {
    display: flex;
    position: absolute;
    width: 100%;
}
.content {
    max-width: 620px;
    margin: 0 auto;
}

.burger{
    position: fixed;
    z-index: 10;
    background-color: rgba(255,255,255, 0.8);
}

.burger__list {
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger__list li{
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
}

.menu__link{
    color: #000;
}

.burger__image {
}

.hamburger-menu{
    z-index: 10;
}

.header{
    margin-bottom: 116px;
}

.header img{
    width: 100%;
}



.vintage {
    display: flex;
}

.contents{
    max-width: 1080px;
    margin: 0 auto;
}

.vintage__image {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.vintage__header {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    text-align: center;
    margin-bottom: 36px;
}
.vintage__text {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    text-align: center;
    margin-bottom: 142px;
}




.oliva {
    display: flex;
}

.card__bg-img{
    width: 100%;
    object-fit: cover;
}

.card__bg-img img {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__img {
    flex: 1 1 66.666%;
    display: flex;
    position: relative;
    background-size: cover;
}

.card__icon {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.oliva__rov {
    display: flex;
    flex: 1 1 33.333%;
    flex-direction: column;
}

.oliva__body{
    padding: 68px;
    position: relative;
}

.card__body:after{
    content: '';
    left: 0;
    right: 0;
    width: 10px;
    border: 10px solid transparent; border-top: 10px solid white;
    margin: 68px auto 0 auto;
    position: absolute;
}

.card__image {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.card__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    text-align: center;
    margin-bottom: 26px;
}
.card__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #848789;
    text-align: center;
    padding-bottom: 40px;
    position: relative;
}

.card__text:after{
    content: '';
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 50px;
    height: 2px;
    background-color: rgba(53,55,56,0.2);
    left: 0;
    right: 0;
}

.card__saddle{
    width: 100%;
    height: 100%;
}

.card__saddle img {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    object-fit: cover;
}





.boriosa {
    display: flex;
}
.boriosa__rov {
    display: flex;
    flex: 1 1 33.333%;
    flex-direction: column;
}
.boriosa__body {
    position: relative;
    padding: 68px;
}
.boriosa__image {
}
.boriosa__title {
}
.boriosa__text {
}
.boriosa__saddle {
}
.boriosa__img {
    background-size: cover;
}
.boriosa__icon {
}




.retro {
    display: flex;
    margin-bottom: 124px;
}
.retro__img {
    flex: 1 1 33.333%;
    display: flex;
    position: relative;
    background-size: cover;
}
.retro__row {
    display: flex;
    flex: 33.333%;
    flex-direction: column;
}
.retro__body {
    padding: 68px;
}
.retro__title {
}
.retro__text {
}
.retro__saddle {
}
.retro__images {
    display: flex;
    flex: 1 1 33.333%;
    background-size: cover;
}




.messenges {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}
.messenges__rov {
}
.messenges__body {
}
.messenges__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.messenges__title {
    justify-content: center;
    display: flex;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
    margin-bottom: 28px;
}

.messenges__title p{
    font-weight: 300;
    color: #848789;
}

.messenges__text {
    max-width: 1040px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    text-align: center;
    margin-bottom: 104px;
}

.messenges__circles{
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.messenges__circle {
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #a9afb3;
}
.messenges__circle_active {
    background-color: #a9afb3;
}




.gallery {
    display: flex;
    margin-bottom: 0;
}
.gallery__start {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
}
.gallery__start-top {
    display: flex;
    flex: 1 1 50%;
}
.gallery__top-left-image {
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}
.gallery__top-right-image {
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}
.gallery__bottom-image {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    background-size: cover;
}
.gallery__center {
    display: flex;
    flex: 1 1 33.333%;
    background-size: cover;
}
.gallery__1-image {
    height: 100%;
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
    z-index: 2;
}

.gallery__block{
    height: 534px;
    display: flex;
    flex: 1 1 100%;
}

.gallery__block-50{
    height: 267px;
}

.gallery__2-image {
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}
.gallery__end {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
}
.gallery__top {
    height: 50%;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    position: relative;
    background-size: cover;
}

.gallery__top:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(100,194,158,0.8);
}

.gallery__top-img{
    background-size: cover;
}

.gallery__top-img-title{
    width: 100%;
    position: absolute;
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    z-index: 2;
}

.gallery__bottom-img{
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}

.gallery__bottom-left-image {
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}
.gallery__bottom-right-image {
    display: flex;
    flex: 1 1 50%;
    background-size: cover;
}




.shop {
    background-color: #282f35;
    padding: 75px;
    margin-bottom: 110px;
}
.shop__row {
    text-align: center;
}
.shop__button {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    width: 300px;
    height: 50px;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid rgba(255,255,255,0.49);
}




.form {
    display: flex;
    margin-bottom: 112px;
}
.form__row {
}
.form__image {
    text-align: center;
    margin-bottom: 40px;
}
.form__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    text-align: center;
    margin-bottom: 35px;
}
.form__body {
}
.form__form {
    display: flex;
    justify-content: center;
}
.form__input {
    width: 400px;
    height: 69px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    padding: 28px;
}
.form__button {
    margin-left: 8px;
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}



.footer {
    display: flex;
    background-color: #f7f7f7;
}
.footer__row {
    width: 100%;
    display: flex;
    padding: 100px;
}
.footer__body {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__info p{
    font-family: Lato;
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #848789;
}

.footer__info p:nth-last-child(2) {
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
}

.footer__info p:nth-last-child(1) {
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
}

.footer__message{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer__message ul {
    display: flex;
    justify-content: center;
}
.footer__list-messager li {
    display: flex;
    margin: 0 7.5px;
    cursor: pointer;
}
.footer__handcrafted {
    display: flex;
}
.footer__text {
    text-align: center;
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    display: flex;
    align-items: center;
}
.footer__img-handcrafted {
    margin-left: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.hamburger-menu{
    display: none;
}

@media(max-width:1100px){

    .card__img{
        flex-direction: column;
    }

    .oliva{
        flex-direction: column;
    }

    .boriosa{
        flex-direction: column;
    }

    .retro{
        flex-direction: column;
    }
    
    .card__bg-img{
        width: 100%;
        flex: 1 1 100%;
    }

    .boriosa__img{
        flex: 1 1 100%;
    }

    .boriosa__body{
        flex: 1 1 100%;
    }

    .retro__body{
        flex: 1 1 100%;
    }

    .retro__img{
        flex: 1 1 100%;
    }

    .retro__images{
        flex: 1 1 100%;
    }

    .gallery{
        flex-direction: column;
    }

    .gallery__start{
        flex: 1 1 100%;
    }

    .gallery__center{
        flex: 1 1 100%;
    }

    .gallery__end{
        flex: 1 1 100%;
    }

    .gallery__block{
        height: 801px;
    }

    .gallery__block-50{
        height: 534px;
    }

}

@media(max-width:767px){
    .burger__list{
        display: none;
    }

    .hamburger-menu{
        display: flex;
    }

    #menu__toggle{
        display: none;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 65px;
        left:  87%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      /* добавляем "гамбургер" */
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }

      /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
      z-index: 1;
    }
    .menu__item {
      transition-duration: .25s;
    }
}


@media(max-width:540px){

    .shop__button{
        width: auto;
        padding: 0 20px;
    }

    .form__form{
        flex-direction: column;
    }

    .form__input{
        margin-bottom: 30px;
        width: auto;
    }

    .form__button{
        width: 100%;
        text-align: center;
    }
}


@media(max-width:750px){
    .footer__body{
        flex-direction: column;
    }

    .footer__info{
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .footer__message{
        margin-bottom: 40px;
    }

    .footer__handcrafted{
        margin: 0 auto;
    }
}